<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<h1>Authors</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Books</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.name}">-</td>
        <td th:text="${author.surname}">-</td>
        <td> <p th:each="book : ${author.books}"> <span th:text="${book.title}">-</span> </p></td>
    </tr>
</table>
</body>
</html>