<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title th:text="'ISBN: ' + ${book.isbn}"></title>

    <!-- Compiled and minified CSS For Boostrap MVN dependency-->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">FunLib</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/books">Books<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/authors">Authors</a>
            <a class="nav-item nav-link" href="/publishers">Publishers</a>
        </div>
    </div>
</nav>

<div class="container">
    <!-- <img th:src="*{'data:image/jpg;charset=utf-8;base64,'+ book.cover}" alt="Book Cover" height="200" th:width="100"> -->
    <br/>
    <h1 th:text="${book.title}"></h1>
    <br/>
    <div class="card">
        <h5 class="card-header">Description</h5>
        <div class="card-body">
            <p class="card-text" th:text="${book.description}">-</p>
        </div>
    </div>
    <br/>
    <div class="card">
        <h5 class="card-header">Author(s)</h5>
        <div class="card-body">
            <p class="card-text" th:each="author : ${book.authors}">
                <a th:href="@{'/authors/' + ${author.name}+'/'+${author.surname}}"><span th:text="${author.name}+ ' ' + ${author.surname}"></span></a>
            </p>
        </div>
    </div>
    <br/>
    <div class="card">
        <h5 class="card-header">Publisher(s)</h5>
        <div class="card-body">
            <p class="card-text"><a th:href="@{'/publishers/' + ${book.publisher.name}}"><span th:text="${book.publisher.name}"></span></a></p>
        </div>
    </div>
    <br/>
    <div class="card">
        <h5 class="card-header">Audiobook</h5>
        <div class="card-body">
            <p class="card-text"><span th:text="${'Language: '+book.audiobookLanguage}"></span></p>
            <p class="card-text"><span>Link: </span><a href="#"><span th:text="${book.audiobookUrl}"></span></a></p>
            <a href="#" class="btn btn-primary">Download</a>
        </div>
    </div>
    <br/>
    <div class="card">
        <h5 class="card-header">Read</h5>
        <div class="card-body">
            <p class="card-text"><span th:text="${'Original language: '+book.originalLanguage}"></span></p>
            <p class="card-text"><span th:text="${'PDF language: '+book.language}"></span></p>
            <p class="card-text"><span>Link: </span><a href="#"><span th:text="${book.pdfUrl}"></span></a></p>
            <a href="#" class="btn btn-primary">Download</a>
        </div>
    </div>
</div><!-- /.container -->

<!-- jQuery core MVN dependency-->
<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<!-- Compiled and minified JavaScript For Bootstrap MVN dependency-->
<script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>

</body>

</html>