<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:include="fragments.html::header">
    //header
</head>
<body>
<nav th:replace="fragments.html::navbar">
    //nav
</nav>

<div class="container">
    <form layout:fragment="searchFragment" class="form-group"  >
        <div class="form-row d-flex justify-content-center p-3">
            <input autofocus class=" form-control" type="search" th:value="${searchPhrase}" placeholder="What would you like to read/listen to?" aria-label="Search">
        </div>
        <div class="form-row d-flex justify-content-center p-3">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </form>
</div>


<div class="container" th:replace="fragments.html::footer">
    //footer
</div>

</body>
</html>